.square{
  width:50px;
  height:50px;
}
.board-row{
  margin:0 auto;;
}
.mybody{
  margin:0 auto;
  background-color:aquamarine;
  text-align:center;
  
}
body{
background-color: antiquewhite;
}
.img-control {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
}

.imgbox {
  display: flex;
  align-items: center;
  justify-content: center;
}